

/*{% load staticfiles %}
<link rel="stylesheet" href="{% static 'home.css' %}">*/



h1{
    color: #000000;
    margin: 0px;
    padding: 0px;
}
p{
    color: #bab80c;
    margin: 0;
    padding: 0;
}

figure.image_container a{
    display: block;
    float: left;
    width: 350px;
    color: #221E1D;
    height: auto;
    margin: 0px 15px 10px 14px;
    position: relative;
}

figure.image_container a:hover{
    background-color: rgba(0, 0, 0, 0.5);

}

figure.image_container img{
    width: 100%;

}

figure.image_container a strong{
    display: block;
    top: 0px;
    right: 0px;
    padding: 90px;
    width: 350px;
    text-align:center;
    font-size: 18px;
    position: absolute;
    z-index: 1;


}
figure.image_container a strong:hover{
    height: 100%;
    background:rgba(0,0,0,0.5);
    color: #fff;
}
#paginator{
    text-align: center;
    margin: 40px 0px 0px 600px;
    float: left;

}
/*.related_page{
    width: 40%;
    margin: 25px 50px 0px 0px;

}*/



