{% load staticfiles %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>readjoy.com</title>
    {% include 'snippets/base_style.html' %}
</head>
<body class="container">
{% include 'snippets/nav.html' %}
<div class="row">
    <div class="docs-content">
        {% block bodyBlock %}

        {% endblock bodyBlock %}
    </div>
    <!--<div class="img-image">-->
        <!--{% block imageBlock %}-->

        <!--{% endblock imageBlock %}-->
    <!--</div>-->


    <!--<div class="related_page">-->
        <!--<h3>Latest Blog</h3>-->
        <!--{% get_latest %}-->
    <!--</div>-->
</div>

<hr>
<p class="text-center">{% footer %}&copy;</p>
</body>
</html>