{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'style.css' %}">


<style>
.col-4{
    padding: 0 0 0 100px;
}
html, body{
    background-color: #caffa7;
    height: 100%;
}
h1{
    color: #000000;
}
p{
    color: #bab80c;
}
.image{
    width: 50%;
    float: left;
}
.docs-content{
    color: black;
}
.related_page{
    width: 200px;
    float: left;
}
.image{
    float: left;
}

</style>