

{% extends 'base.html' %}
{% load staticfiles %}


{% block bodyBlock %}

<link rel="stylesheet" href="{% static 'css/api.css' %}">


<div class="wrapper">
<h1>API Documentation</h1>

    <p class="text-info">HTTP GET</p>
    <table class="table table-stripped">
    <thead>
    <tr><th>Endpoint</th></tr>
    <tr><th>Descrption</th></tr>
    </thead>
    <tbody>
    <tr>
        <td><pre>/api/posts</pre></td>
        <td>Get all published post</td>
    </tr>
    <tr>
        <td><pre>/api/post/(ink:pk)</pre></td>
        <td>Get one post</td>
    </tr>
    </tbody>
    </table>
</div>
{% endblock %}